<table class="table">
  <thead>
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Contact </th>
    <th> Company </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| if !user.is_admin %>
    <tr>
      <td> <%= user.first_name  %></td>
      <td> <%= user.email %></td>
      <td> <%= user.phone %></td>
      <td> 
        <% if user.contact_method == 'text'%>
          <%= "Text on #{user.phone}" %>
        <% elsif user.contact_method == 'phone' %>
          <%= "Call on #{user.phone}" %>
        <% else %>
          <%= "Mail on #{user.email}" %>
        <% end %>
      </td>
      <td> 
        <% if user.is_realtor && user.company_id %>
          <%= Company.find(user.company_id).name %> 
        <% end %>
      </td>
      <td><%= link_to 'Edit', {:controller => :users, :action => :edit, :id => user.id } %></td>
      <td> <%= link_to 'Destroy', admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
