<%= form_with(model: property, local: true, :html => {multipart: true}) do |form| %>

  <div class="form-group">
    <%= form.label 'Address' %><br />
    <%= form.text_field :address, autofocus: true, autocomplete: "name", :class=> "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label 'Owner' %><br />
    <%= form.text_field :owner, autofocus: true, autocomplete: "name", :class=> "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label 'Price' %><br />
    <%= form.text_field :price, autofocus: true, autocomplete: "name", :class=> "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label 'Size' %><br />
    <%= form.text_field :size, autofocus: true, autocomplete: "name", :class=> "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label 'Basement' %><br />
    <%= form.select(:basement, Property.basements.keys, {}, { :class=> "form-control" })%>
  </div>

  <div class="form-group">
    <%= form.label 'Floors' %><br />
    <%= form.select(:floors, Property.floors.keys, {}, { :class=> "form-control" })%>
  </div>

  <div class="form-group">
    <%= form.label 'Style' %><br />
    <%= form.select(:style, Property.styles.keys, {}, {:class=> "form-control"})%>
  </div>
  <div class="form-group">
    <%= form.file_field :image %>
  </div>

  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# form-control-file %>
  <div class="form-group">
    <%= form.submit :class=> "btn btn-success" %>
    <%= link_to 'Back', properties_path, :class => "btn btn-secondary float-right" %>
  </div>
<% end %>
