<table class="table">
  <thead>
    <tr>
      <%# <th>Pic</th> %>
      <th>Price</th>
      <th>Address</th>
      <th>Size</th>
      <th>Floors</th>
      <th>Contact</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <%# <td><%= property.image </td> %>
        <td><%= property.price %></td>
        <td><%= property.address %></td>
        <td><%= property.size %></td>
        <td><%= property.floors %></td>
        <td>
          <% if (property.company_id)%>
            <%= Company.find(property.company_id).name %>
          <% end %>
        </td>

        <td><%= link_to 'Show', property %></td>
        <% if current_user.is_admin || ( current_user.is_realtor && session[:role] == 'realtor' && current_user.company_id == property.company_id ) %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
          <%end %>
          <% if current_user.is_admin || ( current_user.is_realtor && session[:role] == 'realtor' && current_user.company_id == property.company_id ) %>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>