<%= render "partials/navbar" %>
<p id="notice"><%= notice %></p>
<%= render 'searchform' %>

<div class="container">
  <h1>Properties</h1>
  <%= render 'table' %>
  <% if current_user.is_admin || current_user.is_realtor %>
    <%= link_to 'New Property', new_property_url, :class=>'btn-lg btn-success' %>
  <% end %>
</div>
