<%= render "partials/navbar" %>
<div class="container" style="margin-top:50px">
  <div class="card" style="width: 64rem;">
    <% if @property.image_url %>
      <%= image_tag @property.image_url, :class=>"card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title">
        <%= @property.address %>
      </h5>
      <p>
        <strong>Address:</strong>
        <%= @property.address %>
      </p>


      <p> <strong>Owner: </strong>
        <%= @property.owner %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @property.price.to_s %>
      </p>

      <p>
        <strong>Size:</strong>
        <%= @property.size.to_s %>
      </p>

      <p>
        <strong>Style:</strong>
        <%= @property.style %>
      </p>

      <p>
        <strong>Contact Person:</strong>
        <%= User.find(@property.user_id).first_name %>
        <%= User.find(@property.user_id).last_name %>
      </p>

      <p>
        <strong>Contact Number:</strong>
        <%= User.find(@property.user_id).phone %>
      </p>
      <%= link_to 'Send Query', new_query_path(@query), :class=>"btn btn-success" %>
      <%= link_to 'Interested', potential_buyers_path(property_id: @property.id), :method => 'post', :class=>"btn btn-success" %>

      <% if current_user.is_admin || (current_user.is_realtor && current_user.company_id == @property.user_id )%>
      <%= link_to 'Edit', edit_property_path(@property), :class=>"btn btn-success" %>
      <% end %>
      <%= link_to 'Back', properties_path, :class=>"btn btn-secondary" %>
    </div>
  </div>
</div>