<p id="notice"><%= notice %></p>

<h1>Search Properties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_properties.each do |search_property| %>
      <tr>
        <td><%= link_to 'Show', search_property %></td>
        <td><%= link_to 'Edit', edit_search_property_path(search_property) %></td>
        <td><%= link_to 'Destroy', search_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search Property', new_search_property_path %>
