<h1>New Search Property</h1>

<%= form_for(@search_property, html: {method: :post}) do |f| %>

  <div class="field">
    <%= f.label 'Address' %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'Property Size' %><br />
    <%= f.select :size, size_options, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label 'Property Price' %><br />
    <%= f.select :price, price_options, :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<%= link_to 'Back', properties_path %>
