<p id="notice"><%= notice %></p>

<h1>Property Search Results</h1>

<% if @search_property.search_properties.empty? %>
  <p>No Properties Found</p>
<% else %>
  <table class = "table table-bordered table-striped">
    <thead>
    <tr>
      <th>Address</th>
      <th>Size</th>
      <th>Price</th>
      <th>Floors</th>
      <th>Style</th>
      <th>Owner</th>
      <th>Contact</th>
    </tr>
    </thead>

    <tbody>
    <% @search_property.search_properties.each do |c| %>
        <tr>
          <td><%= c.address %></td>
          <td><%= c.size %></td>
          <td><%= c.price %></td>
          <td><%= c.floors %></td>
          <td><%= c.style %></td>
          <td><%= c.owner %></td>
          <td><%= link_to 'Show', c %>
          </td>
          <%= link_to 'Interested', new_potential_buyer_path(@potential_buyer) %>
        </tr>
    <% end %>
    </tbody>
  </table>
<%end%>
<%= link_to 'Edit', edit_search_property_path(@search_property) %> |
<%= link_to 'Back', search_properties_path %>
